/*
  This is a reasonable starting point for the CSS in Sprint 1.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.repl {
    position:relative;
    min-height:95vh;    
}


.repl-history {      
    height:85vh;   
    margin: auto;
    display: block;
    overflow: scroll;    
}

.repl-input {
    margin: auto;    
    height:10vh;
    align-items: center;
}

.repl-submit {
    margin: auto;
    width: 15%;
    display: inline-block;
    filter:drop-shadow(1px 1px 10px rgb(0,0,255));
}
.repl-command-box {
    width: 80%;
    margin: auto;
    display: inline-block;
}

